<!--The content below is only a placeholder and can be replaced.-->
<div class="jumbotron">
  <h1>GitHub Viewer App</h1>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Github Repository</span>
      </div>
      <input type="text" class="form-control" placeholder="ArkaBando">
</div>






<div class="container">
    <table class="table table-bordered table-hover">
    <thead style="background-color:#e3e0e5;">
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
    </tbody>
  </table>
</div>